@import "src/Components/Styles/variables";

.listCardWrapper{
  height: 400px;
  width: 23%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 1%;
  color: darken($primary-dark, 0.5);
  box-shadow: $shadow-card;
  cursor: pointer;
  box-sizing: border-box;
  .listCardImage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img{
      width: 100%;
    }
  }
  .listCardContentWrapper,
  .listCardBlur{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    transition: 0.5s height;
  }
  .listCardBlur{
    background: transparentize($white, 0.8);
    backdrop-filter: blur(5px);
  }
  .listCardContentWrapper{
    background: transparentize($white, 0.4);
  }
  &:hover{
    box-shadow: 0 0 15px 5px transparentize($primary-color, 0.7);
    .listCardContentWrapper,
    .listCardBlur{
      height: 50% ;
    }
  }
}

