@import "../../Styles/variables";
table{
  .modalBackground{
    .modalContainer{
      width: 400px;
      height: min-content;
      .modalBody{
        padding: 20px;
        text-align: center;
      }
    }
  }
}
.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 909;

  .modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    position: relative;
    padding: 25px;

    .modalHeader{
      height: 15%;
      position: relative;
      .modalCloseButton {
        background-color: transparent;
        border: none;
        font-size: 20px;
        color: $gray-600;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 35%;
        right: 20px;
        cursor: pointer;
        &:hover {
          color: $gray-800;
        }
      }

      .modalTitle {
        display: inline-block;
        color: $gray-600;
      }
    }

    .modalBody{
      height: 75%;
      width: 100%;
    }

    .modalFooter {
      height: 10%;
      button{
        margin: 0 10px;
      }
    }
  }
}
