@import 'src/Components/Styles/variables';

.labelText{
  margin-bottom: 5px;
  padding-left: $input-padding-x-sm;
  font-size: $input-font-size-sm;
  color: $gray-800;
  &::after{
    content: ' :';
  }
  &.labelError{
    color: $red;
  }
}
.inputWrapper{
  background: $white;
  box-shadow: 0 8px 25px 0 #0000001A;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: $input-height-sm;
  border-radius: $input-border-radius-sm;
  &.textAreaWrapper{
    padding: 20px 0;
    height: 150px;
    textarea{
      resize: none;
      outline: none;
    }
  }
  &.selectOptionWrapper{
    select{
      background-color: transparent;
    }
  }
  &:hover,
  &:focus-within{
    border: 1px solid black;
  }

  .inputFieldWrapper{
    position: relative;
    height: 100%;
    width: 100%;
    .inputField{
      padding: 0 $input-padding-x-sm;
      font-size: $input-font-size-sm;
      line-height: $input-line-height-sm;
      border: none;
      color: $input-plaintext-color;
      font-weight: 500;
      height: 100%;
      width: 90%;
      &.hasNoIcon{
        width: 100%;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active,
      &:-webkit-autofill:focus-within
      {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        background-color: $white !important;
        color: $input-plaintext-color !important;
      }
      &:hover,
      &:focus-within{
        outline: none;
        border: none;
      }
    }
    .inputIconWrapper{
      height: 100%;
      &.searchWrapper{
        width: 10%;
        background: $gray-400;
        cursor: pointer;
        &:hover{
          background: darken($gray-400, 10);
        }
      }
      &.eyeWrapper{
        color: $input-plaintext-color;
        font-weight: 500;
        width: 10%;
        svg{
          width: 80%;
          height: 80%;
          cursor: pointer;
          &:hover{
            color: darken($input-plaintext-color, 10);
          }
        }
      }
    }
  }
  ::placeholder{
    color: $input-placeholder-color;
  }
  &.inputError{
    border: 1px solid $red;
  }
  .errorText{
    position: absolute;
    color: red;
    bottom: 3px;
    left: 0;
    padding: 0 $input-padding-x-sm;
    font-size: 11px;
    font-family: $font-roboto;
    word-break: break-word;
    max-height: 25px;
    overflow: hidden;
  }
}
